
@{
    Layout = null;

   
}
<link rel="stylesheet" href="~/CSS/adminPagesStyle.css"/>
<link rel="stylesheet" href="~/Content/bootstrap.min.css"/>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Anasayfa</title>
</head>
<body>
    <div id="adminPage" class="clearfix">
        <div>
            <h2 class="text-center">Admin Sayfası</h2>
            <h2 id="adminCikis"><a href="/Account/Logout">Çıkış</a></h2>
        </div>
        
        <div class="list-group">
            <a href="/Urun/Index" class="list-group-item list-group-item-action">Ürün Kontrol Sayfası</a>
            <a href="/Kategori/Index" class="list-group-item list-group-item-action">Kategori Kontrol Sayfası</a>
            <a href="/Account/ChangePass" class="list-group-item list-group-item-action">Şifre Değiştir</a>
            <a href="/Account/ChangeMail" class="list-group-item list-group-item-action">Eposta Değiştir</a>
            <a href="/Slayt/Index" class="list-group-item list-group-item-action">Slayt Resimlerini Değiştir</a>
        </div>
        

    </div>
    


</body>
</html>
