
@{
    ViewBag.Title = "About";
}

<section id="about">
    <div class="container">
        <h2 class="text-uppercase">Hakkımızda</h2>
        <hr class="ayrac">

            <div id="about-text" class="clearfix">

                <div class="left">
                    <p class="text">
                        Sektörün öncülerinden olan firmamız 1972 yılından bu yana koşulsuz müşteri memnuniyeti ilkesiyle mevcut ürün yelpazesini sizlerin istekleri doğrultusunda genişleterek her geçen gün büyümeye devam etmektedir.Firmamız üretimini 20.000 m² si kapalı alan olmak üzere 100.000 m² alana kurulu fabrikamızda gerçekleşmektedir.

                    </p>
                </div>

                <div class="right">
                    <p class="text">
                        Sektörün öncülerinden olan firmamız 1972 yılından bu yana koşulsuz müşteri memnuniyeti ilkesiyle mevcut ürün yelpazesini sizlerin istekleri doğrultusunda genişleterek her geçen gün büyümeye devam etmektedir.Firmamız üretimini 20.000 m² si kapalı alan olmak üzere 100.000 m² alana kurulu fabrikamızda gerçekleşmektedir.
                    </p>
                </div>

            </div>
        

    </div>
</section>



