
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OutOfOrder</title>
</head>
<body>
    <div> 
        <img src="~/Image/Slayt/Default/sayfabakimi.png" style="width:100%;height:auto;"/>
    </div>
</body>
</html>
